* {box-sizing: border-box;}

body {
    max-width: 1438px;
    }

.awesome_btn {
    background-color:#E3B873;
    width: 161px;
    height: 37px;
    border-radius: 2px;
    box-shadow: 0px 5px 15px;
    box-shadow: rgba(227, 184, 115, 0.2);
    font: italic 11px Verdana;
    font-weight: normal;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    }

.navigation_container {
    
    background-color: black;
    height: 100px;
    display: flex;
    flex-flow: row nowrap; 
    align-items: center;
    justify-content: space-around;
}
.navigation_bar {
    max-width: 1256px;
    height: 37px;
    display: flex;
    flex-flow: row nowrap; 
    align-items: center;

}

.navigation_list {
    list-style-type: none;
    display: flex;
    max-width: 577px;
    display: flex;
    flex-flow: row nowrap; 
    align-items: center;
    
}
.list_item {margin-right: 47px;}

.logo {color: blanchedalmond;}
