* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
}

.button {
    background-color: #E3B873;
    box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
    width: 208px;
    height: 37px;
    border-radius: 2px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
}

.title {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
}

.subtitle {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}

header {
    background-color: black;
    padding: 0;
    
}

.navigation-wrapper {
    padding: 24px 90px 22px 92px;
    max-width: 1438px;
    height: 83px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation-wrapper-logo {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #E3B873;
}

.navigation-wrapper-bar {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    /*font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
    text-decoration: none;*/
    
}
/*.navigation-wrapper-bar li {
    margin-right: 47px;
}

.navigation-wrapper-bar:last-child {margin-right: 67px;}*/

.navigation-wrapper-bar__item__link {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 47px;
}

.navigation-wrapper-bar__item__link__mod {
    text-decoration: underline;
    color: #E3B873;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    margin-right: 67px;
}
